*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,main{
    height: 100%;
    width: 100%;
}

main{
    background: rgb(128,52,251);
    background: linear-gradient(36deg, rgba(128,52,251,0.9780287114845938) 1%, rgba(246,108,201,1) 89%);
}

header{
    height: 8%;
    width: 100%;
    background-color: white;
    padding-right: 30px;
    padding-left: 30px;
    font-size: larger;
    font-weight: 500;
}

ul{
    height: 100%;
    list-style:none;
    display: flex;
    justify-content: space-between;
    color: orangered;
}

.lista{
    display: flex;
    align-items: center;
    gap: 70px;
}

h1{
    color: white;
    text-shadow: rgb(255, 255, 255) 3px 3px 5px;
    text-align: center;
    font-size: 10vh;
    padding-top: 10px;
}

.acerca{
    color: white;
    display: flex;
    height: 100%;
    padding-top: 18px;
}

.carrusel{
    width: 40%;
}

.parrafo{
    font-size: 3vh;
    width: 60%;
    text-align: justify;
    padding-right: 20px;
}

#uno{
    background-image: url(../images/14760917222258.jpg);
    width: 90%;
    height: 25%;
}
.uno{
    width: 90%;
    height: 25%;
}